<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            &copy;

            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>Arin Minasian

        </span>

        <a class="grey-text text-lighten-4 right" href="https://github.com/arinmsn/burger">Github Code</a>
    </div>
</footer>