
<h1> Eat-Da-Burger!</h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.burger_name}}
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="button btn-success" type="submit">Devour the Burger</button><BR>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-4">
            <form class="create-update-form" action="/burgers" method="POST">
                <div class="form-group text-center">
                    <label for="ca">
                        <h3>Add a burger</h3>
                    </label>
                    <input type="text" id="name" name="burger_name">
                    <button class="button btn-success" type="submit">Add Burger</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Devoured Burgers</h3>
            <br>
            <ul>
                {{#each burgers}}
                {{#if this.devoured}}

                <li>
                    {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                    </form>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>